@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0 0% 100%;
    --color-text: 0 0% 11%;

    --gray-1: 0 0% 99%;
    --gray-2: 0 0% 98;
    --gray-3: 0 0% 94%;
    --gray-4: 0 0% 91%;
    --gray-5: 0 0% 88%;
    --gray-6: 0 0% 85%;
    --gray-7: 0 0% 81%;
    --gray-8: 0 0% 73%;
    --gray-9: 0 0% 55%;
    --gray-10: 0 0% 51%;
    --gray-11: 0 0% 39%;
    --gray-12: 0 0% 13%;

    --orange-1: 20 60% 99%;
    --orange-2: 33 100% 96%;
    --orange-3: 37 100% 92%;
    --orange-4: 34 100% 85%;
    --orange-5: 33 100% 80%;
    --orange-6: 30 100% 75%;
    --orange-7: 27 87% 71%;
    --orange-8: 25 80% 63%;
    --orange-9: 23 93% 53%;
    --orange-10: 24 100% 47%;
    --orange-11: 23 100% 40%;
    --orange-12: 16 50% 23%;

    --red-1: 0 100% 99%;
    --red-2: 0 100% 98%;
    --red-3: 357 90% 96%;
    --red-4: 358 100% 93%;
    --red-5: 359 100% 90%;
    --red-6: 359 94% 87%;
    --red-7: 359 77% 81%;
    --red-8: 359 70% 74%;
    --red-9: 358 75% 59%;
    --red-10: 358 69% 55%;
    --red-11: 358 65% 49%;
    --red-12: 351 63% 24%;
  }

  .dark {
    --color-background: 0 0% 11%;
    --color-text: 220 14% 96%;

    --gray-1: 0 0% 7%;
    --gray-2: 0 0% 10%;
    --gray-3: 0 0% 13%;
    --gray-4: 0 0% 16%;
    --gray-5: 0 0% 19%;
    --gray-6: 0 0% 23%;
    --gray-7: 0 0% 28%;
    --gray-8: 0 0% 38%;
    --gray-9: 0 0% 43%;
    --gray-10: 0 0% 48%;
    --gray-11: 0 0% 71%;
    --gray-12: 0 0% 93%;

    --orange-1: 27 24% 7%;
    --orange-2: 28 33% 9%;
    --orange-3: 29 65% 12%;
    --orange-4: 28 100% 14%;
    --orange-5: 28 100% 17%;
    --orange-6: 27 79% 22%;
    --orange-7: 25 63% 30%;
    --orange-8: 23 60% 40%;
    --orange-9: 23 93% 53%;
    --orange-10: 26 100% 56%;
    --orange-11: 26 100% 67%;
    --orange-12: 30 100% 88%;

    --red-1: 0 19% 8%;
    --red-2: 355 25% 10%;
    --red-3: 350 53% 15%;
    --red-4: 348 68% 19%;
    --red-5: 350 63% 23%;
    --red-6: 352 53% 29%;
    --red-7: 355 47% 37%;
    --red-8: 358 45% 49%;
    --red-9: 358 75% 59%;
    --red-10: 360 79% 65%;
    --red-11: 2 100% 79%;
    --red-12: 350 100% 91%;
  }

  .dark .auth-layout-square {
    background-image: url('../../public/dark-square.svg');
  }

  .auth-layout-square {
    background-image: url('../../public/light-square.svg');
  }

  input,
  textarea {
    @apply bg-transparent !important;
  }

  *:focus-visible {
    @apply outline-newGray-12;
  }

  nav,
  aside {
    padding-right: var(--removed-body-scroll-bar-size) !important;
  }

  @media only screen and (min-width: 768px) {
    aside {
      padding-right: 0 !important;
    }
  }

  aside::-webkit-scrollbar,
  .container-scroll::-webkit-scrollbar,
  [cmdk-list-sizer]::-webkit-scrollbar {
    @apply w-3;
  }

  aside:hover::-webkit-scrollbar-thumb,
  .container-scroll:hover::-webkit-scrollbar-thumb,
  [cmdk-list-sizer]:hover::-webkit-scrollbar-thumb {
    @apply rounded-full border-[3px] border-solid border-white bg-gray-300;
  }

  aside::-webkit-scrollbar-thumb:hover,
  .container-scroll::-webkit-scrollbar-thumb:hover,
  [cmdk-list-sizer]::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  svg {
    @apply size-full;
  }

  [cmdk-list-sizer] {
    scroll-padding-block-start: 10px;
    scroll-padding-block-end: 10px;
  }

  .ToastRoot[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }
  .ToastRoot[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }
  .ToastRoot[data-swipe='end'] {
    animation: slideRight 100ms ease-out;
  }
}

:root {
  --auth-layout-gradient: radial-gradient(
      at 48% 8%,
      hsla(55, 90%, 66%, 1) 0,
      hsla(55, 90%, 66%, 0) 50%
    ),
    radial-gradient(
      at 87% 84%,
      hsla(258, 85%, 50%, 1) 0,
      hsla(258, 85%, 50%, 0) 50%
    ),
    radial-gradient(
      at 49% 74%,
      hsla(224, 86%, 53%, 1) 0,
      hsla(224, 86%, 53%, 0) 50%
    ),
    radial-gradient(
      at 12% 5%,
      hsla(83, 89%, 52%, 1) 0,
      hsla(83, 89%, 52%, 0) 50%
    ),
    radial-gradient(
      at 40% 61%,
      hsla(55, 94%, 50%, 1) 0,
      hsla(55, 94%, 50%, 0) 50%
    ),
    radial-gradient(
      at 67% 86%,
      hsla(342, 86%, 68%, 1) 0,
      hsla(342, 86%, 68%, 0) 50%
    ),
    radial-gradient(
      at 94% 22%,
      hsla(180, 90%, 50%, 1) 0,
      hsla(180, 90%, 50%, 0) 50%
    );
}
