@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav,
  aside {
    padding-right: var(--removed-body-scroll-bar-size) !important;
  }

  @media only screen and (min-width: 768px) {
    aside {
      padding-right: 0 !important;
    }
  }

  aside::-webkit-scrollbar,
  .container-scroll::-webkit-scrollbar {
    @apply w-3;
  }

  aside:hover::-webkit-scrollbar-thumb,
  .container-scroll:hover::-webkit-scrollbar-thumb {
    @apply rounded-full border-[3px] border-solid border-white bg-gray-300;
  }

  aside::-webkit-scrollbar-thumb:hover,
  .container-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  svg {
    @apply h-full w-full;
  }
}
